/* Light Theme */
:root {
    --background-color: #f6f8fa;
    --background-contrast: #18202c;
    --primary-color: #0366d6;
    --secondary-color: #e1e4e8;
    --accent-color: #4073fa;
    --primary-text: #1c1f23;
    --secondary-text: #0366d6;
    --tertiary-text: #959da5;
    --flavor-1:#f06;
    --flavor-2:#9f6;
    --flavor-3: #f0a;
    --norm: 1rem;
    --border: 0.2rem;
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofINeaB.woff2) format('woff2');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/nunito/v16/XRXV3I6Li01BKofIO-aB.woff2) format('woff2');
}



body, html {
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

pre {
    background: var(--secondary-color);
    border-radius: 2rem;
    padding: 1rem;
}


img {
    max-width: 100%;
    height: auto;
}

.portal {
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    box-shadow: none;
    transition: all 500ms ease-in;
    padding: 0.5rem;
    overflow-x: hidden;
    z-index: 2;
}

.active {
    font-weight: 700;
    background: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-text)
}

.anchor {
    margin-right: 0.5rem;
}


.blog-title {
    text-decoration: none;
    color: var(--secondary-text);
    font-weight: 700 ;
    font-size: 1.5rem;
}

.blog-title:hover{
    color: var(--primary-color)
}

b {
    font-weight: 700;
}

.nav > a {
    padding: var(--norm);
    text-decoration: none;
    color: var(--secondary-text);
    fill: none;
    stroke: black;
    stroke-width: 0.1rem;
    stroke-linejoin : round;
    font-size: 2rem;
}

.nav > a:hover {
    padding: var(--norm);
    background: var(--accent-color);
}

.container {
    display: flex;
    align-self: center;
    padding: 0.2rem;
    max-width: calc(var(--norm) * 70);
    width: 100vw;
    z-index: 2;
}


.innerContainer {
  margin: 2rem 0 2rem 0;
    width: inherit;
}

.blog-desc-container{
    margin-bottom: calc(var(--norm) * 3);
}

.md {
  display: block;
  padding: var(--norm);
  max-width: inherit;
  background-color: unset !important;
}

.md > h1 {
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(45deg, var(--flavor-1), var(--flavor-2), var(--flavor-3));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


.footer {
    display: flex;
    justify-content: center;
}

.gradient-text {
    font-weight: bold;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(45deg, var(--flavor-1), var(--flavor-2), var(--flavor-3));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.movie-gradient {
    animation: moveGradient 3s linear infinite;
}


.overflow-hidden{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10rem;
}

.wave {
    position: absolute;
    width: 200%;
    animation: wave 10s linear infinite;
    transform: rotate(0deg);
}


@keyframes wave {
    0% {
        transform: translateX(0) rotate(180deg);
    }
    100% {
        transform: translateX(-50%) rotate(180deg);
    }
}

@keyframes moveGradient {
    0% {
        background-position: 100% 50%;
    }
    100% {
        background-position: -100% 50%;
    }
}


@media screen and (max-width: 810px) {
    .container {
        max-width: unset;
        width: 95vw;
    }

    .md {
        padding: 0.1rem;
    }

    .pre {
        padding: 0.1rem;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    code {
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }
}


@media (prefers-color-scheme: dark) {

    :root {
        --background-color: #18202c;
        --background-contrast: #f6f8fa;
        --primary-color: #2188ff;
        --secondary-color: #444d56;
        --accent-color: #1f6feb;
        --primary-text: #c9d1d9;
        --secondary-text: #8b949e;
        --tertiary-text: #6e7681;
    }

    .nav {
        box-shadow: none
    }

}