
/* Game button */
.funButton {
    display: inline-block;
    padding: var(--norm) calc(var(--norm) * 2);
    margin:  calc(var(--norm) * 2);
    text-align: center;
    text-decoration: none;
    color: var(--primary-text);

    background-color: var(--flavor-1);
    border: none;
    border-radius:  calc(var(--norm) * 0.5);

    /* Fun effects */
    box-shadow: 0 8px 6px -6px black; /* Simple shadow */
    transition: all 0.3s ease-in-out; /* Smooth transitions on hover effects */

    cursor: pointer;
    user-select: none;
}

.funButton:hover {
    background-color: var(--flavor-2);
    box-shadow: 0 12px 10px -8px #333;
    transform: scale(1.1);
}

.funButton:active {
    background-color: var(--flavor-3);
    box-shadow: 0 4px 3px -2px #333;
    transform: scale(1.05);
}


.funInput {
    display: inline-block;
    padding: var(--norm) calc(var(--norm) * 2);
    margin: calc(var(--norm) * 2);
    color: var(--primary-text);
    background-color: var(--flavor-1);
    border: none;

    /* Reusing the funButton's shadow, transitions, and text styles */
    box-shadow: 0 8px 6px -6px black;
    transition: all 0.3s ease-in-out;
    text-align: center;

    /* Specifics for input element */
    outline: none; /* Remove default outline */
    font-size: inherit; /* Make font consistent with the environment */
    line-height: 1.15; /* Normal line-height */

    /* Ensuring text doesn't overflow */
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.funInput:focus {
    box-shadow: 0 12px 10px -8px #333;
}

.funInput::placeholder {
    color: #9E9E9E;
    opacity: 1;
}

.funInput:hover {
    background-color: var(--flavor-2);
}


.funInput:active,
.funInput:focus {
    background-color: var(--flavor-3);
    box-shadow: 0 4px 3px -2px #333;
}


.highscore-window {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: -3rem;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    padding: var(--norm);

}

.game-window-center {
    display: flex;
    text-align: center;
    justify-content: center;
}

.no-margin {
    margin: 0;
}

.instruction-window{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.instruction-text {
    padding-left: var(--norm);
}

.instructions {
    display: flex;
    flex-direction: column;
}

.instruction {
    display: flex;
    align-items: center;
}

.instruction-headline {
    text-align: center;
}

.game-high-scores {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: calc(var(--norm) / 2);
    padding: calc(var(--norm) * 2);
    gap:var(--norm)
}

.close {
    display: none;
}

.player-headline {
    margin: 0;
    font-weight: bold;
}

.error-message{
    color: var(--flavor-2);
    margin-top: var(--norm);
}

.move {
    display: flex;
    align-self: center;
    animation: rotateLeftRight 3s ease-in-out infinite alternate;
}

@media (prefers-color-scheme: light) {

    .error-message {
        color: var(--flavor-1);
    }
}

@keyframes rotateLeftRight {
    0%, 100% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-45deg);
    }
}