/* Light Theme */
:root {
    --background-color: #4073fa;
    --primary-color: #0366d6;
    --secondary-color: #e1e4e8;
    --accent-color: #f6f8fa;
    --primary-text: #1c1f23;
    --secondary-text: #ffffff;
    --tertiary-text: #959da5;
}


body, html {
    margin: 0;
    background-color: var(--background-color);
    color: var(--primary-text);
    font-size: 16px;
    font-weight: 300;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: center;
    box-shadow: none;
    transition: all 500ms ease-in;
    padding: 0.5rem;
}

a {
    text-decoration: none;
    color: var(--secondary-text)
}

b {
    font-weight: 700;
}

.nav > a {
    padding: 1rem;
    text-decoration: none;
    color: var(--primary-text)
}

.nav > a:hover {
    background: var(--accent-color);
}

.container {
    display: flex;
    align-self: center;
    padding: 0.2rem;
    max-width: 800px;
    width: 100vw;
}


.innerContainer {
  margin: 2rem 0 2rem 0;
}

.md {
  display: block;
}


.footer {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 799px) {
    .container {
        max-width: unset;
        width: 95vw;
    }
}
@media (prefers-color-scheme: dark) {

    :root {
        --background-color: #18202c;
        --primary-color: #2188ff;
        --secondary-color: #444d56;
        --accent-color: #1f6feb;
        --primary-text: #c9d1d9;
        --secondary-text: #8b949e;
        --tertiary-text: #6e7681;
    }

    .nav {
        box-shadow: none
    }
}